# Comandos Básicos Mais Usados

In [ ]:
# M inserindo hashtag é possível inseir titulo
# B cria uma nova linha de código
# D, D apaga uma linha de código
# L coloca e tira linhas
# control enter executa o código

# Primeiros Exemplos

In [ ]:
print('primeiro programa')
1 + 3
5 + 5

print(3 + 2)
print(5 + 5)

help(print)

In [ ]:
1 + 6 + 6
1 + 1

In [ ]:
print(1 + 6 + 6)
print(1 + 1)

# Tipos Básicos

In [ ]:
print(True)

print(False)

print(1.5 + 2) #float + int (float = número real quebrado, int = número inteiro)

print('Michel Temer 2022') #o termo entre as aspas é chamado de string

print("Com aspas duplas também é caracterizado um string")

print('Você é ' + 3 * 'muito ' + 'legal') #importante atentar-se aos espaços

#print(3 + '3') -> não funciona pois resulta em uma ambiguidade (mistura string com int)

print([1, 2, 3, 4]) #lista

print({'Nome' : 'Pedro', 'Idade' : 22})

print(None) #ausência de valor -> equivalente ao nulo

# Variáveis

In [ ]:
a = 10 #o símbolo de igual está, na programação, atrelado à atribuição ao invés de igualdade
       #o 'a' recebe o nome de identificador
b = 5.2

print(a + b)

a = 'Agora sou uma string'

print(a)
b

#print(a + b) -> novamento o erro pois o algoritmo não sabe se você está fazendo uma soma ou uma concatenação

# Comentários

In [ ]:
#Minhas variáveis
salario = 3570.45
despesas = 2420.2

"""
A ideia é calcular o quanto vai sobrar no final do mês!
"""

print(salario - despesas)

# print('Fim!')
print('Fim de verdade') # comentários após o comando também são válidos

# Operadores Aritméticos

In [ ]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)

# Para exibir apenas o resultado inteiro da operação usa-se duas barras
print(9.4 // 3)

# Exponenciaão
print(2 ** 8)

# Resto de uma divisão
print(10 % 3)

a = 12
b = a
print(a + b, a * b, a / b)

# Desafio Operadores Aritméticos

In [ ]:
#Minhas variáveis
salario = 3570.45
despesas = 2420.2

percentual = despesas / salario

print("A porcentagem de gastos em relação ao salário total é de:", percentual * 100, "%")

# Operadores Relacionais

In [ ]:
print(3 > 4)
print(4 >= 3)
print(1 < 2)
print(3 <= 1)

# O símbolo "!=" representa diferente de
print(3 != 2)

# Operação de igualdade "==", operação de atribuição "="
print(3 == 3)

print(2 == '2')

# Operadores de Atribuição

In [ ]:
a = 3
a = a + 7
print(a)

# Acréscimo de um int na variável atribuída
# Mesma operação de a = a + 5
a += 5

print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 2
print(a)

a %= 5
print(a)

a **= 3
print(a)

a //= 3
print(a)

# Operadores Lógicos

In [ ]:

"And"
# Funciona apenas quando os dois termos são verdadeiros

2 >= 1 and 7 < 10

"Or"
# Funciona sempre que algum dos dois termos é verdadeiro

2 < 5 or 4 > 0

"Exclusive Or"
# Precisa ser exclusivamente um ou o outro, não os dois falsos ou verdade

2 > 1 or 10 < 0

"Operador de Negação (unário)"
# Usado para representar o sentido contrário daquilo que está se considerando

not True #falso
not False #verdadeiro

# Desafio Operadores Lógicos

In [ ]:
# Uma pessoa terá dois trabalhos para serem feitos. Um na terça e um na quinta feira, do qual o trabalho poderá ser verdadeiro
# se tiver sido realizado e falso caso ele não tenha sido realizado
# Se os dois trabalhos derem certo houve a promessa de ir ao shopping comprar uma tv de 50 polegadas
# Se apenas um dos dois der certo, a pessoa também irá ao shopping porém comprar uma tv de 32 polegadas
# Independente de ser os dois ou apenas um trabalho dando certo, a família irá ao shopping tomar sorvete
# Caso nenhum dos dois trabalhos dê certo, nem o sorvete a família irá tomar

"""
Dois trabalhos deram certo: TV de 50' e sorvete
Um dos dois trabalhos deu certo: TV de 32' e sorvete
Nenhum dos dois trabalhos deu certo: ficarão em casa
"""

# Forma como eu resolvi
trabalho_terça = True 
trabalho_quinta = False
        
# Gabarito do professor

tv_50 = trabalho_terça and trabalho_quinta
tv_32 = trabalho_terça or trabalho_quinta
sorvete = trabalho_terça != trabalho_quinta
mais_saudavel = not sorvete

print("tv de 50:", tv_50, "tv de 32:", tv_32, "sorvete:", sorvete, "saudável:", mais_saudavel)

# Coração

In [ ]:
import turtle

pen = turtle.Turtle()

def curve():
  for i in range(200):
    pen.right(1)
    pen.forward(1)

def heart():
  pen.fillcolor('red')
  pen.begin_fill()
  pen.left(140)
  pen.forward(113)
  curve()
  pen.left(120)
  curve()
  pen.forward(112)
  pen.end_fill()
  
def txt():
  pen.up()
  pen.setpos(-68, 95)
  pen.down()
  pen.color('lightgreen')
  pen.write("EU TE AMO", font=(
  "Verdana", 15, "bold"))

heart()
txt()
pen.ht()
turtle
turtle.exitonclick()

print()

# Operadores Unários

In [ ]:
a = 3
# a++ não é entendpivel em python
# o correto serial a += 1
# a-- também não é entendível
# o correto seria a -= 1

not 0 # com 0 sendo o operador de falso - fverdadeiro
not 1 # com 1 sendo o operador de verdadeiro - falso
not False
not not True # não causa uma alteração na variável

# Operadores Ternários

In [ ]:
# A expressão abaixo sendo verdadeira, o valor a ser exibido será o mais
# próximo do termo "esta chovendo"

esta_chovendo = False
"Hoje estou com as roupas " + ("secas", "molhadas")[esta_chovendo]

esta_chovendo = True
resultado1 = "Hoje estou com as roupas " + ("secas", "molhadas")[esta_chovendo]

estou_cansado = False
"Hoje depois do trabalho estou muito " + ("cansado", "feliz")[estou_cansado]

# A expressão fica mais perto da expressão verdadeira
print(resultado1)

teste_com_if = "Hoje estou com as roupas " + ("molhadas" if esta_chovendo else "secas")

print(teste_com_if)

# Mais Operadores

In [ ]:
# Membro / Identidade

# Operador de membro - usando IN ou NOT IN
lista = [1, 2, 3, 'Ana', 'Lucia']
print(2 in lista)
print(3 not in lista)

# Operador de identidade - usando IS ou IS NOT
x = 3
y = x
z = 3
print(x is y, z is y, x is not z)

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

print(lista_a is lista_b)
print(lista_b is lista_c)
print(lista_a is lista_c) # Embora tenham o mesmo conteúdo, são duas listas diferentes
# Quando se trata de listas, elas serão diferentes mesmo que seu conteúdo seja o mesmo

# Builtins

In [6]:
type(1)
__builtins__.type('oi') # Define se o termo é int, str, float...
__builtins__.print(10/3)

# __builtins__.help(__builtins__.dir)
# O underline no builtins armazena o último valor impresso no código
# dir() - mostra td oq foi armazenado na biblioteca do código

dir()
dir(__builtins__) # vai mostrar tudo o que está dentro do builtins
# O builtins já é importado por padrão

nome = 'João da Silva'
type(nome)
__builtins__.len(nome)

3.3333333333333335

13

# Conversão de Tipos

In [15]:
2 + 3
'2' + '3' # Concatenação
# 2 + '3' # Configura um erro um int com uma str

a = 2
b = '3'
print(type(a))
print(type(b))

# Transformar o b que é uma str em um int
print(a + int(b))
# Transformar o a que é um int em um str para fazer uma concatenação
print(str(a) + b)

type(str(a))

# Obviamente dentro de uma str ou int deve ter um termo válido para a conversão

<class 'int'>
<class 'str'>
5
23

str

# Converção Automática

In [24]:
10 / 2
type(10 / 2)
# Mesmo a operação acima sendo de dois int, gerando um outro int, ele é caracterizado como float(número decimal)
type(10 / 3)
10 // 3
type(10 // 3)
2 + True
2 + False
type(1 + 2)
type(1 + 2.5)

float

# Tipos Numéricos

In [39]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

# Saber se b é um inteiro
b.is_integer()
5.0.is_integer()

# Fazer uma soma sem necessariamente somar explicitamente
int.__add__(2, 3)

# Função absoluta - trará sempre o valor positivo de um termo - válido para o float tb
(-2).__abs__()
abs(-2)
abs(2)
type(-2)

int

# Erro de Precisão

In [44]:
# 1.1 + 2.2 gera um valor de 3.300000000000003
# Para evitar esse erro e somar valores precisos

from decimal import Decimal, getcontext
Decimal(1 / Decimal(7))

getcontext().prec = 4 # Define o número de casas decimais apresentadas
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7)) # Te mostra o maior valor dos termos apresentados
dir(Decimal)

1.1 + 2.2
Decimal(1.1) + Decimal(2.2)

Decimal('3.300')

# Tipo String

In [52]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]

# 'Marca d'água'  
# Configura um erro de str
print("Marca d'agua")

texto = 'Texto entre apóstrofes podem ter "aspas"'
texto

# Textos com múltiplas linhas com 3 aspas simples ou duplas
"""
linha 1
linha 2
...
"""

Marca d'agua

'Texto entre apóstrofes podem ter "aspas"'

In [10]:
nome = 'Ana Paula'
nome[0] # exibe o primeiro termo da string
nome[6] # exibe o elemento 6, contando com espaços
nome[-3] # contando de trás para frente
nome[4:] # vai exibir a partir do elemento 4
nome[-5:]
nome[:3] # saindo do inicio e indo até o elemento número 3 mas o indice final não entra
nome[2:5] # seleciona um intervalo da string mas desconsiderando o ultimo indice

numeros = '1234567890'
numeros
numeros[::] # semelhante a exibição normal 
numeros[::2] # vai percorrer todo o string de dois em dois começando no primeiro
numeros[1::2] # começando no indice 1, percorrendo até o final da string percorrendo de dois em dois
numeros[::-1] # vai percorrer toda a string de trás pra frente
numeros[::-2] 

nome[::-1]

'aluaP anA'

In [21]:
frase = 'python é uma linguagem excelente'
'py' in frase # exibirá o valor true
'ing' not in frase
len(frase) # exibe o numero de termos da string
frase.lower() # deixará todos os termos em minusculo sem modificar a frase
frase.upper() # deixara os caracteres em maiusculo
frase.split() # vai quebrar cada termo da string separadamente

frase.split('a') # vai exibir a string sem o valor a

dir(str) # mostrara os codigos possiveis para as strings
frase

'python é uma linguagem excelente'

In [1]:
a = '123'
b = ' de Oliveira 4'
a + b

# abaixo seguem as mesmas formas de exibir uma soma de str
a.__add__(b)
str.__add__(a, b)

len(a)
a.__len__()
'1' in a
a.__contains__('1')
print(a + b)

123 de Oliveira 4

# Lista

In [43]:
lista = []
type(lista) # lista é um tipo de formatação de dados semelhante a str, int
dir(lista)
len(lista)
lista.append(1) # o append adiciona o elemento desejado a lista
lista.append(5)
lista.append([4, 5, 6])
lista

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5) # remove o valor desejado da lista permanentemente
nova_lista.reverse() # inverte a ordem da lista permanentemente
nova_lista

[1, 5, [4, 5, 6]]

In [3]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme') # informa qual posição do elemento
lista[2] # informa a posição do elemento também
1 in lista
'Pedro' not in lista
lista[0] # indica o primeiro elemento da lista
lista[4] # indica o quinto elemento da lista
lista[-1] # indica o primeiro elemento de trás para frente

3.1415

In [21]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3] # isso quer dizer que quero mostrar o índice 1 e o 2, já que o 3 não é considerado 
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[::3]
del lista[2]
lista[:]
del lista[1:]
lista

# a lista segue basicamente os mesmos comandos de seleção para strings

['Ana']

# Tupla

In [34]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
# help(tupla)
tupla = ('um') # isso é uma string. Para ter uma tupla de um unico elemento, tem que haver virgula
type(tupla)
tupla = ('um',)
type(tupla)
tupla[0]
# diferente da lista, numa tupla não é possível alterar algum item dentro dela
cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]
cores[-1]
cores[1:]

cores.index('amarelo') # mostra qual é a posição desse item na tupla selecionada
cores.count('azul') # indica o numero de itens 'azul' na tupla
len(cores) # indica o tamanho da tupla

1

# Dicionário

In [42]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa)
dir(dict)
len(pessoa)
pessoa['nome']
pessoa['idade'] # vai mostrar apenas o que está após os dois pontos de cada item
pessoa.keys() # vai mostrar as chaves desse dicionário, ou seja, as palavras antes dos dois pontos
pessoa.values() # vai mostrar apenas o que está após os dois pontos

dict_values(['Prof(a). Ana', 38, ['Inglês', 'Português']])

In [55]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44 # altera um value inteiro do dicionário
pessoa['cursos'].append('Angular') # adiciona o termo entre parenteses à lista
pessoa.pop('idade') # retira o valor mostrado do dicionário
pessoa.update({'idade': 40, 'Sexo': 'M'}) # adiciona mais alguma key e value ao dicionário
del pessoa['cursos'] # retira um item, semelhante ao pop
pessoa.clear() # esvazia completamente o dicionário
pessoa

{}

# Conjuntos

In [69]:
a = {1, 2, 3} # não tem garantia de ordem entre os elementos e não aceita repetição
type(a)
a = set('cod3r')
a
print('3' in a, '4' not in a)
{1, 2, 3} == {3, 2, 1, 3}

# operações para conjuntos

# uniao
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2) # une os dois conjuntos gerando um terceiro conjunto

# interseção
c1.intersection(c2)

# uptade - altera um dos conjuntos citados
c1.update(c2)
c1

# verificar se um conjunto é subconjunto do outro
c2 <= c1 # se true, c2 é subconjunto de c1
c1 >= c2 # c1 é superconjunto de c2

# diferença entre os conjuntos
c1 - c2
{1, 2, 3} - {2}

# não existe a soma entre dois conjuntos
# para subtrair um item e atribuir esse valor permanente usa-se o igual
c1 -= {2}
c1

True True

{1, 3}

# Interpolação

In [14]:
from string import Template

nome, idade = 'Ana', 30

# %s converte elementos do tipo string para ser interpretados pelo leitor de código
# %d vai converter valores inteiros
# %f vai converter valores de tipo float 
# para a conversão do float %.2f mostrara o float desejado com apenas duas casas decimais
# %r 

print('Nome: %s Idade: %d' % (nome, idade))
# essas opções acima são consideradas mais ultrapassasdas e nem tanto utilizadas

print('Nome: {0} Idade: {1}'.format(nome, idade))
print(f'Nome: {nome} Idade: {idade}') # o f dentro da string entrega ja uma string formatada

caminhonete, modelo = 'f', 1000
print(f'Caminhonete: {caminhonete} Modelo: {modelo}')

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Caminhonete: f Modelo: 1000